<div class="dialog-form">
  <div class="ad-main-content ">
    <h2 class="">Good Property Information</h2>

    <div class="ad-main-search d-flex justify-content-between box-bg">
      <div class="ad-main-btn">
        <button
          type="button"
          class="btn btn-orange-bg"
          (click)="openCreateGoodProperty(data.goodsId)"
        >
          Create Good Property
        </button>
      </div>
    </div>

    <div class="ad-main-data box-bg">
      <div class="table-responsive">
        <table
          mat-table
          [dataSource]="dataSource"
          class="mat-elevation-z8 parent-table"
        >
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let goodProperty" class="detail-btn">
              <button
                mat-raised-button
                [matMenuTriggerFor]="actionsMenu"
                class=""
              >
                <i class="fa-solid fa-caret-down"></i> Actions
              </button>
              <mat-menu #actionsMenu="matMenu">
                <button
                  mat-menu-item
                  (click)="openEditGoodProperty(goodProperty)"
                >
                <i class="fa-regular fa-edit pe-2"></i>
                <span>Edit</span>
                </button>
                <button mat-menu-item>
                  <i class="fa-solid fa-trash pe-2"></i>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <ng-container matColumnDef="goodsName">
            <th mat-header-cell *matHeaderCellDef>Good Name</th>
            <td mat-cell *matCellDef="let goodProperty">
              {{ getGoodNameById(goodProperty.goodsId) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="propertyName">
            <th mat-header-cell *matHeaderCellDef>Group Property Name</th>
            <td mat-cell *matCellDef="let goodProperty">
              {{ getPropertyGroupNameById(goodProperty.propertyId) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="propertyValue">
            <th mat-header-cell *matHeaderCellDef>Good Property Value</th>
            <td mat-cell *matCellDef="let goodProperty">
              {{ goodProperty.propertyName }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let group; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
