@import "../../../styles.scss";




.ad-head-btn{

    button{
        margin: 0 10px 0 0;
        span{
            .mat-mdc-button-touch-target{
                margin-right: 10px ;
            }
        }
    }


}



.search-bar{
    margin: auto;
    padding: 0 120px;

    button{
        margin: 0 10px 0 0;
        span{
            .mat-mdc-button-touch-target{
                margin-right: 10px !important;
            }
        }
    }
    
    input{
        border-radius: 50px;
        border: 1px solid;
    }
    
}

.ad-header-detail{
    margin-bottom: 50px !important;
    .POS-logo{
        img{
            height: 67px;
            
            
            
        }
    }
    .POS-user{
        button{
            height: auto;
            width: auto;
            padding: 6px 42px !important;
            border-radius: 50px;
            line-height: 160%;
            font-size: 14px;
            
        }
        img{
            height: 70px;
            width: 70px;
            border-radius: 100px;
        }
        i{
            color: $Dusty-Grey;
            padding-right: 30px;
        }

        .POs-user-infor{
            padding: 9px 15px;
            p{
                color: $Dusty-Grey;
                span{
                    color: $White-Snow;
                    font-weight: bold !important;
                }
            }
        }
    }

}
