<!-- <div class="d-flex justify-content-between ad-header">
    <div class="d-flex ad-head-btn">
        <button mat-raised-button>text</button>
        <button mat-raised-button>text</button>
    </div>

    <div class=" search-bar form-outline justify-content-center w-100" data-mdb-input-init>
        <input type="search" id="form1" class="form-control" placeholder="Type query" aria-label="Search" />
    </div>

    <div class="ad-head-btn">
        <button mat-button>
            <i class="fa-solid fa-user" (click)="logout()"></i>
        </button>
    </div>

</div> -->

<div class="container-fuild ad-header-detail">
  <div class="row">
    <div class="col-xl-2 col-md-2 POS-logo">
      <button>
        <img
          src="../../../assets/Image/Logo_POS_Dark-Background.png"
          (click)="logout()"
          alt=""
        />
      </button>
    </div>
    <div class="col-xl-7 col-md-7"></div>
    <div class="col-xl-3 col-md-3 POS-user d-flex justify-content-end">
      <button routerLink="/POS">Admin page</button>
      <div class="text-end POs-user-infor">
        <p class="text-capitalize">Hello, <span>WhoTillBunReal</span></p>
        <p class="role">Admin</p>
      </div>
      <img
        src="https://i.pinimg.com/enabled_hi/236x/80/62/8a/80628a1842568b00dcaca6861e0a834a.jpg"
        alt=""
      />
    </div>
  </div>
</div>
