<div class="update-good-property dialog-form">
  <h2>Update Good Property</h2>
  <div class="form-input">
    <form [formGroup]="form">
      <div class="mt-2">
        <label>Good Property Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="propertyName"
        />
      </div>

      <div class="btn-zone">
        <button class="btn" (click)="save()">Save</button>
        <button class="btn" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
