<h2 mat-dialog-title> Create New Supplier</h2>
<div mat-dialog-content>
    <form #createSupplierForm="ngForm" (ngSubmit)="onSubmit(createSupplierForm)">
        <mat-form-field>
            <mat-label>Supplier Id</mat-label>
            <input matInput [(ngModel)]="newSupplier.supplierId" name="supplierId" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label> Supplier Name</mat-label>
            <input matInput [(ngModel)]="newSupplier.supplierName" name="supplierName" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label> Supplier Type</mat-label>
            <input matInput [(ngModel)]="newSupplier.supplierType" name="supplierType" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label> Supplier Address</mat-label>
            <input matInput [(ngModel)]="newSupplier.supplierAddress" name="supplierAddress" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label> Supplier Phone</mat-label>
            <input matInput [(ngModel)]="newSupplier.supplierPhone" name="supplierPhone" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label> Supplier Email</mat-label>
            <input matInput [(ngModel)]="newSupplier.supplierEmail" name="supplierEmail" required>
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="primary" type="submit" [mat-dialog-close]="newSupplier" (click)="onSubmit(createSupplierForm)">Save</button>
</div>