@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




.darkmode{
    body{
        background-color: $Dark-Void;
        font-family: 'Manrope', sans-serif;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }    
}

body{
    background-color: $Dark-Void;
    font-family: 'Manrope', sans-serif;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


h1, h2, h3, h4, h5, h6{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: $White-Snow;
}
p{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: $White-Snow;

}

.row{
    padding: 0 !important;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: $White-Snow; 
}
span{
    color: $White-Snow;
}
tr{
    th{
        color: $White-Snow;
    }
    td{
        color: $White-Snow;
    }
}

.card-item{
    background-color: $Gluon-Grey;
    padding: 15px 20px;
    border-radius: 12px;
    height: 100%;
    
}

.mat-elevation-z8 {
    box-shadow: none; // Remove the shadow if needed
    background-color: transparent; // Remove the background color
}

.mat-header-cell,
.mat-cell {
    background-color: transparent; // Remove the background color for header and cells
}

.mat-table {
    background-color: transparent; // Ensure the table itself has no background color
}





