@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: clamp(16px, 1.5vw, 18px) !important;
}
body{
    &.dark-mode{
        // @include dark-mode;
        background-color: $Dark-Void !important;
        transition: background-color 0.3s, color 0.3s;
        h1, h2, h3, h4, h5, h6{
            color: $White-Snow;
            transition: background-color 0.3s, color 0.3s;
        }
        p{
            transition: background-color 0.3s, color 0.3s;
            color: $White-Snow;
        }
        a{
            transition: background-color 0.3s, color 0.3s;
            color: $White-Snow; 
        }
        span{
            transition: background-color 0.3s, color 0.3s;
            color: $White-Snow;
        }
        tr{
            th{
                transition: background-color 0.3s, color 0.3s;
                color: $White-Snow;
            }
            td{
                transition: background-color 0.3s, color 0.3s;
                color: $White-Snow;
            }
        }
        form{
            label{
                transition: background-color 0.3s, color 0.3s;
                color: $White-Snow !important;
            }
        }

        .cdk-overlay-pane{
            background-color: transparent !important;
        }
        .mat-mdc-menu-panel{
            background-color: $Gluon-Grey !important;
            button{
                &:hover{
                    background-color: $Dusty-Grey;
                    color: $Dark-Void !important;
                }
            }
        }
        .box-bg{
            transition: background-color 0.3s, color 0.3s;
            background-color: $Slate-Grey;
            border-radius: 20px ;
        }

        .search-bar-admin{
            transition: background-color 0.3s, color 0.3s;
            background-color: $Gluon-Grey;
            border-radius: 100px !important;
            border: $Dusty-Grey solid 1px;
            color: $White-Snow;
            &::placeholder{
                transition: background-color 0.3s, color 0.3s;
                color: $Dusty-Grey;
            }
        }
        .ad-action-btn{
            button{
                transition: background-color 0.3s, color 0.3s;
                @include btn-gray-border;
            }
            select{
                transition: background-color 0.3s, color 0.3s;
                @include btn-gray-border;
                color: $White-Snow !important;

                option{
                    background-color: $Gluon-Grey;
                    color: $White-Snow !important;
                    
                }
            }
        }
        .dialog-form{
            background-color: $Gluon-Grey;
            .form-input {
                @include input-text-field;
                form{
                    label{
                    }
                    input{
                        width: 100%;
                        border-radius: 5px;
                        
                        &::placeholder{
                        }
                        
                    }
                    select{
                        background-color: transparent !important;
                        option{
                        }
                        &::placeholder{
                        }
                    
                      }
                }

                
            }
            .form-table{
                table{
                    tr{
                        td{
                            select{
                                border: 1px dashed $White-Snow;
                            }
                        }
                    }
                }
            }
            
        }

        .card-item{
            background-color: $Gluon-Grey;
        }
        .btn-zone {
            @include double-btn-zone;
            button {
                @include btn-orange-border;
                &:last-child {
                    @include btn-gray-border;
                }
            }
        }
        

    }
    &.light-mode{
        // @include light-mode;
        background-color: $Light-mode-bg !important;
        transition: background-color 0.3s, color 0.3s;
        h1, h2, h3, h4, h5, h6{
            color: $Dark-Void;
            transition: background-color 0.3s, color 0.3s;
        }
        p{
            transition: background-color 0.3s, color 0.3s;
            color: $Dark-Void;
        }
        a{
            transition: background-color 0.3s, color 0.3s;
            color: $Dark-Void; 
        }
        span{
            transition: background-color 0.3s, color 0.3s;
            color: $Dark-Void;
        }
        tr{
            th{
                transition: background-color 0.3s, color 0.3s;
                color: $Dark-Void;
            }
            td{
                transition: background-color 0.3s, color 0.3s;
                color: $Dark-Void;
            }
        }
        form{
            label{
                transition: background-color 0.3s, color 0.3s;
                color: $Dark-Void !important;
            }
        }
        .cdk-overlay-pane{
            // background-color: #f7f2eb !important;
            background-color: transparent;
            
        }
        .mat-mdc-menu-panel{
            background-color: #f7f2eb !important;
        }
        .box-bg{
            transition: background-color 0.3s, color 0.3s;
            background-color: $Box-bg-light;
            border-radius: 20px ;
        }
        .search-bar-admin{
            transition: background-color 0.3s, color 0.3s;
            background-color: $White-Snow;
            border-radius: 100px !important;
            border: $Dusty-Grey solid 1px;
            color: $Dark-Void;
            &::placeholder{
                transition: background-color 0.3s, color 0.3s;
                color: $Dusty-Grey;
            }
        }
        .ad-action-btn{
            button{
                transition: background-color 0.3s, color 0.3s;
                @include btn-white-bg;
            }
            select{
                transition: background-color 0.3s, color 0.3s;
                @include btn-white-bg;
                option{
                    background-color: $White-Snow;
                    color: $Dark-Void;
                }
            }
        }
        .dialog-form{
            background-color: #f7f2eb;
            .form-input {
                @include input-text-field;
                form{
                    label{
                    }
                    input{
                        background-color: $White-Snow;
                        color: $Dark-Void;
                        width: 100%;
                        border-radius: 5px;
                        border: 1px solid $Dark-Void;
                        
                        &::placeholder{
                            color: $Dusty-Grey;
                        }
                        
                    }
                    select{
                        background-color: transparent !important;
                        color: $Dark-Void;
                        border: 1px dashed $Dark-Void;
                        option{
                          background-color: $White-Snow;
                          color: $Dusty-Grey;
                        }
                        &::placeholder{
                            color: $Dusty-Grey;
                        }
                    
                      }
                }
            
                
            }
            .form-table{
                table{
                    tr{
                        td{
                            select{
                                border: 1px dashed $White-Snow;
                            }
                        }
                    }
                }
            }
            
        }
        .card-item{
            background-color: $Box-bg-light;
        }
        .btn-zone {
            @include double-btn-zone;
            button {
                @include btn-orange-none-bg;
                &:last-child {
                    @include btn-gray-bg-light-exit; 
                }
            }
        }
        

    }

}

h1, h2, h3, h4, h5, h6{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 2.5rem; // Kích thước font cho h1
}

h2 {
    font-size: 2rem; // Kích thước font cho h2
}

h3 {
    font-size: 1.75rem; // Kích thước font cho h3
}

h4 {
    font-size: 1.5rem; // Kích thước font cho h4
}

h5 {
    font-size: 1.25rem; // Kích thước font cho h5
}

h6 {
    font-size: 1rem; // Kích thước font cho h6
}
p{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;

}
input {
    border-right: none;
    border-radius: 5px !important;

    &::placeholder {
        color: $Dusty-Grey;
    }

    &:focus {
        outline: none;
        box-shadow: none; // For Bootstrap-specific focus shadows
    }
}

table{
    th{
        font-weight: 600;
    }
    td{
        font-weight: 500;
    }
}

.row{
    padding: 0 !important;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    .active {
        background-color: $Liquid-Lava !important;
        color: $Dark-Void;
        border: 1px solid $White-Snow;
      }
}


.search-center{
    margin: auto 0;
}




.btn-orange-bg{
    background-color: $Liquid-Lava;
    color: $White-Snow;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 16px;

    &:hover {
        background-color: $White-Snow;
        color: $Liquid-Lava;
    }
}

.card-item{
    padding: 15px 20px;
    border-radius: 12px;
    height: 100%;
    
}

.dialog-form{
    padding: 16px 20px;
    // .form-table{
    //     table{
    //         tr{
    //             td{
    //                 select{
    //                     border: 1px dashed $White-Snow;
    //                 }
    //             }
    //         }
    //     }
    // }
    
}
.min-hight-set{
    min-height: 100vh;
}




.mat-elevation-z8 {
    box-shadow: none; // Remove the shadow if needed
    background-color: transparent ; // Remove the background color
}

.mat-header-cell,
.mat-cell {
    background-color: transparent; // Remove the background color for header and cells
}

.mat-table {
    background-color: transparent; // Ensure the table itself has no background color
}
.mdc-button {
    min-width: 220px;
}




