@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');






body{
    background-color: $Dark-Void;
    font-family: 'Manrope', sans-serif;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: clamp(12px, 1.5vw, 16px);
}


h1, h2, h3, h4, h5, h6{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: $White-Snow;
}
p{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: $White-Snow;

}

.row{
    padding: 0 !important;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: $White-Snow; 
}
span{
    color: $White-Snow;
}
tr{
    th{
        color: $White-Snow;
    }
    td{
        color: $White-Snow;
    }
}

form{
    label{
        color: $White-Snow !important;
    }
}

.btn-zone {
    @include double-btn-zone;
    button {
        @include btn-orange-border;
        &:last-child {
            @include btn-gray-border;
        }
    }
}
.btn-orange-bg{
    background-color: $Liquid-Lava;
    color: $White-Snow;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 16px;

    &:hover {
        background-color: $White-Snow;
        color: $Liquid-Lava;
    }
}

.card-item{
    background-color: $Gluon-Grey;
    padding: 15px 20px;
    border-radius: 12px;
    height: 100%;
    
}

.dialog-form{
    background-color: $Gluon-Grey !important;
    padding: 16px 20px;
    .form-input {
        @include input-text-field;
        form{
            select{
                border: 1px dashed $White-Snow;
            }
        }
        
    }
    .form-table{
        table{
            tr{
                td{
                    select{
                        border: 1px dashed $White-Snow;
                    }
                }
            }
        }
    }
    
}
.search-bar-admin{
    background-color: $Gluon-Grey;
    border-radius: 100px;
    border: $Dusty-Grey solid 1px;
    color: $White-Snow;
    &::placeholder{
        color: $Dusty-Grey;
    }
}


.mat-elevation-z8 {
    box-shadow: none; // Remove the shadow if needed
    background-color: transparent ; // Remove the background color
}

.mat-header-cell,
.mat-cell {
    background-color: transparent; // Remove the background color for header and cells
}

.mat-table {
    background-color: transparent; // Ensure the table itself has no background color
}





