$White-Snow: #FBFBFB;
$Greenwich: #3D318B;
$Dark-Void: #151419;
$Gluon-Grey: #1B1A1F;
$Liquid-Lava: #F56F10;
$Dusty-Grey: #878787;
$Slate-Grey: #262626;

$mobile: 576px;
$table: 768px;
$ipad-mini: 992px;
$laptop: 1024px;
$desktop: 1440px;

@mixin input-text-field {
    form{
        label{
            margin-top: 15px;
        }
        input{
            background-color: $Gluon-Grey;
            color: $White-Snow;
            width: 100%;
            border-radius: 5px;
            border: 1px solid $White-Snow;
            padding: 6px;
            
            &::placeholder{
                color: $Dusty-Grey;
            }
            
        }
        select{
            background-color: transparent !important;
            color: $White-Snow;
            option{
              background-color: $Dusty-Grey;
              color: $White-Snow;
            }
            &::placeholder{
                color: $Dusty-Grey;
            }
        
          }
    }
}
@mixin double-btn-zone {
    display: flex;
    justify-content: center;
    button {
        padding: 10px 20px;
        margin-top: 16px;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
}

@mixin search-bar-input{
    form{
        input{
            background-color: $Gluon-Grey;
            color: $White-Snow;
            
            border-radius: 5px;
            border: 1px solid $White-Snow;
            
            padding: 6px;
            
            
        }

    }
}

@mixin btn-orange-bg{
    background-color: $Liquid-Lava;
    color: $White-Snow;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: $White-Snow;
        color: $Liquid-Lava;
    }
}
@mixin btn-gray-bg{
    background-color: $Dusty-Grey;
    color: $White-Snow;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: $White-Snow;
        color: $Dusty-Grey;
    }
}

@mixin btn-white-border {
    
        border-radius: 5px;
        border: 1px solid $White-Snow;
        color: $White-Snow;
        background-color: $Gluon-Grey;
        transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;

        &:hover {
            background-color: $White-Snow;
            color: $Dark-Void;
            border: 1px solid $White-Snow;
        }

    
}

@mixin btn-green-border {
    
        border-radius: 5px;
        border: 1px solid $Greenwich;
        color: $Greenwich;
        background-color: $Gluon-Grey;
        transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;

        &:hover {
            background-color: $Greenwich;
            color: $White-Snow;
            border: 1px solid $Greenwich;
        }

    
}

@mixin btn-orange-border {
    
        border-radius: 5px;
        border: 1px solid $Liquid-Lava;
        color: $Liquid-Lava;
        background-color: $Gluon-Grey;
        transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;

        &:hover {
            background-color: $Liquid-Lava;
            color: $White-Snow;
            border: 1px solid $Liquid-Lava;
        }

    
}

@mixin btn-gray-border {
    
        border-radius: 5px;
        border: 1px solid $Dusty-Grey;
        color: $Dusty-Grey;
        background-color: $Gluon-Grey;
        transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;

        &:hover {
            background-color: $Dusty-Grey;
            color: $White-Snow;
            border: 1px solid $Dusty-Grey;
        }

}

@mixin dropdown-menu-mat {
    .mat-elevation-z8 {
        box-shadow: none; // Remove the shadow if needed
        background-color: $Dusty-Grey !important ; // Remove the background color
        color: $White-Snow !important;
    }
   

}