@import "../../../../styles.scss";

.dialog{
    padding: 25px 30px;
    background-color: $Dark-Void;
    .header{
        
    }
}

.table-responsive {
    max-height: 650px;  // Set the maximum height for the table container
    overflow-y: auto;   // Enable vertical scrolling
    overflow-x: auto;   // Enable horizontal scrolling if needed

}


