<h2 mat-dialog-title> Create New Goods Receipt</h2>

<div mat-dialog-content>
    <form #createGoodsReceiptForm="ngForm" (submit)="onSubmit(createGoodsReceiptForm)">
        <mat-form-field>
            <mat-label>Date Receipt</mat-label>
            <input matInput [(ngModel)]="newGoodsReceipt.dateReceipt" name="dateReceipt" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label> Receipt Number </mat-label>
            <input matInput [(ngModel)]="newGoodsReceipt.receiptNumber" name="receiptNumber" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Supplier</mat-label>
            <mat-select [(ngModel)]="newGoodsReceipt.supplier" name="supplier" required>
              <mat-option *ngFor="let supplier of suppliers" [value]="supplier.supplierName">
                {{ supplier.supplierName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field>
            <mat-label> Total Amount </mat-label>
            <input matInput [(ngModel)]="newGoodsReceipt.totalAmount" name="totalAmount" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label> Indept</mat-label>
            <input matInput [(ngModel)]="newGoodsReceipt.inDept" name="inDept" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label> Status </mat-label>
            <input matInput [(ngModel)]="newGoodsReceipt.status" name="status" required>
        </mat-form-field>

    </form>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="primary" type="submit" [mat-dialog-close]="newGoodsReceipt" (click)="onSubmit(createGoodsReceiptForm)">Save</button>
</div>