<div mat-dialog-title> Update Customer</div>

<div mat-dialog-content>
    <form #editCustomerForm="ngForm" (ngSubmit)="onSave()">
        <mat-form-field>
            <mat-label>Customer Id</mat-label>
            <input matInput [(ngModel)]="editCustomer.customerId" name="customerId" required />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Customer Name </mat-label>
            <input matInput [(ngModel)]="editCustomer.customerName" name="customerName" required />
        </mat-form-field>

        <mat-form-field>
            <mat-label> Customer Address </mat-label>
            <input matInput [(ngModel)]="editCustomer.customerAddress" name="customerAddress" required />

        </mat-form-field>

        <mat-form-field>
            <mat-label> Customer Phone </mat-label>
            <input matInput [(ngModel)]="editCustomer.customerPhone" name="customerPhone" required />
        </mat-form-field>

        <mat-form-field>
            <mat-label> Customer Email</mat-label>
            <input matInput [(ngModel)]="editCustomer.customerEmail" name="customerEmail" required />
        </mat-form-field>




    </form>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button type="submit" [mat-dialog-close]="editCustomer" (click)="onSave()">Save</button>
  </div>