@import "../../../_variables.scss";
@import "../../../styles.scss";
@import "../../../_globals.scss";

.ad-main-content {
    .ad-main-search {
        padding: 22px 50px;
        border-radius: 14px;
        margin-top: 10px;

        .ad-main-btn {
            
            button {
                margin-right: 20px;
            }
        }
    }

    

    .ad-main-data {
        border-radius: 14px;
        margin-top: 15px;
        padding: 21px 23px;

        .table-responsive {
            max-height: 650px; // Set the maximum height for the table container
            overflow-y: auto; // Enable vertical scrolling
            overflow-x: auto;
        }

        // Enable horizontal scrolling if needed

    }

    .search-bar {
        margin: auto;
        padding: 0 120px;

        button {
            margin: 0 10px 0 0;

            span {
                .mat-mdc-button-touch-target {
                    margin-right: 10px !important;
                }
            }
        }

        input {
            border-radius: 50px;
            border: 1px solid;
        }

    }


    .boder_table {
        border-top: 1px solid #ccc;
    }

    .color_table_background {
        background-color: #fafafa;
    }

    .table-name {
        font-weight: bold;
    }

    .example-element-detail {
        overflow: hidden;
        display: flex;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
    }

    .parent-table {
        border-radius: 12px;
        /* Adjust radius as needed */
        overflow: hidden;
        /* Ensures that content doesn't overflow the rounded corners */
    }

    .detail-table {
        text-align: center;
        border: 1px solid #ccc;
        margin-bottom: 1rem;
    }

    .table {
        width: 100%; // Make the table stretch to full width
        border-collapse: collapse; // Collapse borders for a cleaner look

        thead {
            position: sticky; // Sticky header at the top
            top: 0;
            background-color: #f1f1f1; // Background color for the sticky header
            z-index: 1; // Ensure the header is above the table rows
        }

        th,
        td {
            padding: 8px; // Padding inside table cells
            border: 1px solid #ddd; // Border around cells
            text-align: left; // Align text to the left
        }
    }
}