<div class="ad-main-content">
  <h2 class="">Staff Management</h2>

  <div class="ad-main-search box-bg">
    <div class="row">
      <div class="col-md-3 ad-main-btn">
        <button
          type="button"
          (click)="openCreateUserDialog()"
          class="btn btn-orange-bg"
        >
          Create User
        </button>
      </div>
      <div class="col-md-6 search-center">
        <form>
          <input
            type="text"
            class="form-control search-bar-admin"
            aria-describedby="helpId"
            placeholder="Search"
          />
        </form>
      </div>
      <div class="col-md-3 ad-main-btn">
        <input type="hidden" />
      </div>
    </div>
  </div>

  <div class="ad-main-data box-bg">
    <div class="table-responsive">
      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8 parent-table"
      >
        <ng-container matColumnDef="action">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="text-center align-middle"
          >
            Action
          </th>
          <td
            mat-cell
            *matCellDef="let users"
            class="text-center align-middle ad-action-btn detail-btn"
          >
            <button
              mat-raised-button
              [matMenuTriggerFor]="actionsMenu"
              class=""
            >
              <i class="fa-solid fa-caret-down"></i> Actions
            </button>
            <mat-menu #actionsMenu="matMenu">
              <button
                mat-menu-item
                (click)="openGrantRightDialog(users)"
                [disabled]="users.userType === 1"
              >
                <i class="fa-regular fa-edit pe-2"></i>
                <span>Grant Right</span>
              </button>

              <button mat-menu-item (click)="openEditUserDialog(users)">
                <i class="fa-regular fa-edit pe-2"></i>
                <span>Edit</span>
              </button>
              <button mat-menu-item (click)="confirmDelete(users)">
                <i class="fa-solid fa-trash pe-2"></i>
                <span>Delete</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <ng-container matColumnDef="storeId">
          <th mat-header-cell *matHeaderCellDef>Store Id</th>
          <td mat-cell *matCellDef="let users">{{ users.storeId }}</td>
        </ng-container>

        <ng-container matColumnDef="loginName">
          <th mat-header-cell *matHeaderCellDef>Login Name</th>
          <td mat-cell *matCellDef="let users">{{ users.loginName }}</td>
        </ng-container>

        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef>Full Name</th>
          <td mat-cell *matCellDef="let users">{{ users.fullName }}</td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>Address</th>
          <td mat-cell *matCellDef="let users">{{ users.address }}</td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>Phone</th>
          <td mat-cell *matCellDef="let users">{{ users.phone }}</td>
        </ng-container>

        <ng-container matColumnDef="dob">
          <th mat-header-cell *matHeaderCellDef>Date of Birth</th>
          <td mat-cell *matCellDef="let users">{{ users.doB }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let users">{{ users.email }}</td>
        </ng-container>

        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef>Gender</th>
          <td mat-cell *matCellDef="let users">{{ users.gender }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <div class="no-data" *ngIf="dataSource.data.length === 0">
        No data available
      </div>
    </div>
  </div>
</div>
