@import "../../../styles.scss";

.login-page{
    background-color: $Dark-Void;
    padding-top: 50px ;
    padding-bottom: 400px;

    form{
        padding-left: 50px;
        .login-input-data{
            padding-top: 30px;
            small{
                a{
                    color: $Dusty-Grey;
                }
                color: $Dusty-Grey
            }
        }
        label{
            color: $White-Snow;
        }
        .btn-login{
            background-color: $Liquid-Lava;
            margin-top: 15px;
            color: $White-Snow;
            padding: 15px;
            
        }
    }

}
