<div class="login-page">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="login-page-img">
          <img src="../../../assets/Image/login.svg" alt="" class="w-100" />
        </div>
      </div>
      <div class="col-6">
        <div class="row justify-content-center">
          <form [formGroup]="form" *ngIf="!loading; else loadingTemplate">
            <div class="col-8 login-from">
              <div class="login-input-data">
                <div class="mb-3">
                  <label for="" class="form-label">Store Id</label>
                  <input
                    class="form-control"
                    id="storeId"
                    formControlName="storeId"
                    placeholder="Enter Store Id"
                  />
                </div>
                <div class="mb-3">
                  <label for="" class="form-label">User Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="loginName"
                    formControlName="loginName"
                    aria-describedby=""
                    placeholder="Enter your User Name"
                  />
                </div>
                <div class="mb-3">
                  <label for="" class="form-label">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="passWord"
                    formControlName="passWord"
                    placeholder="Password"
                  />
                  <small id="helpId" class="form-text"
                    ><a href="" class="text-decoration-underline">Contact Us</a>
                    when you forgot password
                  </small>
                </div>
              </div>
            </div>
            <div class="col-8">
              <input
                name=""
                id=""
                class="btn btn-login w-100"
                type="submit"
                (click)="login()"
                value="Login"
              />
            </div>
          </form>

          <ng-template #loadingTemplate>
            <div class="loading-spinner">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hidden-content">
  <div
    class="d-flex justify-content-center align-items-center"
    style="height: 100vh"
  >
    <h1>Pls use PC to continues using system</h1>
  </div>
</div>
