@import "../../../styles.scss";

.login-header-bg{
    background-color: $Greenwich;
    padding: 50px 25px 50px 25px !important;
    border-radius: 0px 0px 40px 40px;
}
.login-page{
    background-image: url("../../../assets/Image/login-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
    margin: 20px auto;
  }
  
  .spinner-border .visually-hidden {
    display: none;
  }
  
  .alert-danger {
    color: red;
    font-weight: bold;
  }