<!-- <h2 mat-dialog-title>Edit Staff</h2>
<div mat-dialog-content>
  <form #editStaffForm="ngForm" (ngSubmit)="onSave()">
    <mat-form-field>
      <mat-label>Staff Code</mat-label>
      <input matInput [(ngModel)]="editStaff.code" name="code" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Staff Name</mat-label>
      <input matInput [(ngModel)]="editStaff.name" name="name" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Staff Age</mat-label>
      <input matInput [(ngModel)]="editStaff.age" name="age" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Staff Role</mat-label>
      <input matInput [(ngModel)]="editStaff.role" name="role" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Staff Department</mat-label>
      <input matInput [(ngModel)]="editStaff.department" name="department" required>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button type="submit" (click)="onSave()" [mat-dialog-close]="editStaff">Save</button>
</div> -->