@import "../../variables";


.ad-sidenav{
  .nav{
      .nav-link{
        color: $White-Snow;
        
          padding: 20px 31px 20px 30px;
          i{
              padding-right: 15px;
          }
          &.active { 
            background-color: $White-Snow !important; // Background for active link
            color: $Dark-Void; // Optional: Adjust text color for active state
            font-weight: bold;
          }
          &:hover {
              background-color: $Dusty-Grey; // Change background on hover (example)
              color: $Dark-Void; // Change text color on hover (example)
          }
      }
  }
}