<div class="ad-sidenav">
  <!-- <ul class="nav nav-tabs flex-column">
      <li class="nav-item">
          <a href="#" class="nav-link active" aria-current="page">
              <i class="fa-solid fa-house"></i>
              Active</a>
      </li>
      <li class="nav-item">
          <a href="#" class="nav-link " aria-current="page">
              <i class="fa-solid fa-house"></i>
              Active</a>
      </li>
      <li class="nav-item">
          <a href="#" class="nav-link" aria-current="page">
              <i class="fa-solid fa-house"></i>
              Active</a>
      </li>
      <li class="nav-item">
          <a href="#" class="nav-link" aria-current="page">
              <i class="fa-solid fa-house"></i>
              Active</a>
      </li>
      <li class="nav-item">
          <a href="#" class="nav-link" aria-current="page">
              <i class="fa-solid fa-house"></i>
              Active</a>
      </li>
  </ul> -->

  <ul class="nav nav-pills flex-column" *ngIf="userRole === 1">
    <li class="nav-item">
      <a
        routerLink="/Staff"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
        aria-current="page"
        >Goods</a
      >
    </li>
    <li class="nav-item">
      <a
        routerLink="/Staff/good-group"
        routerLinkActive="active"
        class="nav-link"
        >Goods Group</a
      >
    </li>

    <li class="nav-item">
      <a routerLink="/Staff/supplier" routerLinkActive="active" class="nav-link"
        >Supplier</a
      >
    </li>

    <li class="nav-item">
      <a
        routerLink="/Staff/property-group"
        routerLinkActive="active"
        class="nav-link"
        >Property Group</a
      >
    </li>

    <li class="nav-item">
      <a routerLink="/Staff/customer" routerLinkActive="active" class="nav-link"
        >Customer</a
      >
    </li>
  </ul>

  <ul class="nav nav-pills flex-column" *ngIf="userRole === 0">
    <li class="nav-item">
      <a
        routerLink="/Admin"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
        aria-current="page"
        >Goods</a
      >
    </li>
    <li class="nav-item">
      <a
        routerLink="/Admin/good-group"
        routerLinkActive="active"
        class="nav-link"
        >Goods Group</a
      >
    </li>

    <li class="nav-item">
      <a routerLink="/Admin/supplier" routerLinkActive="active" class="nav-link"
        >Supplier</a
      >
    </li>

    <li class="nav-item">
      <a routerLink="/Admin/staff" routerLinkActive="active" class="nav-link"
        >Staff Management</a
      >
    </li>

    <li class="nav-item">
      <a
        routerLink="/Admin/property-group"
        routerLinkActive="active"
        class="nav-link"
        >Property Group</a
      >
    </li>

    <li class="nav-item">
      <a routerLink="/Admin/customer" routerLinkActive="active" class="nav-link"
        >Customer</a
      >
    </li>
  </ul>
</div>
