<div class="add-new-good-unit dialog-form">
  <h2>Edit Good Unit</h2>
  <div class="form-input">
    <form [formGroup]="form">
      <div class="mt-2">
        <label>Bar Code</label>
        <input type="text" class="form-control" formControlName="barcode" />
      </div>

      <div class="mt-2">
        <label>Unit Size</label>
        <input type="text" class="form-control" formControlName="unitSize" />
      </div>

      <div class="mt-2">
        <label>Unit Stock</label>
        <input type="text" class="form-control" formControlName="unitStock" />
      </div>

      <div class="mt-2">
        <label>Unit Status</label>
        <select class="form-select" formControlName="unitStatus">
          <option [value]="0">Available</option>
          <option [value]="1">Unavailable</option>
        </select>
      </div>
      <div class="btn-zone">
        <button class="btn" (click)="Save()">Save</button>
        <button class="btn" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>

<app-loading-spinner></app-loading-spinner>
