@import "../../../styles.scss";

.new-order-zone {
  .order-information {
    a {
      padding: 14px 40px;
      color: $White-Snow;
      border-radius: 5px;
      border: 1px dashed $White-Snow;
      transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
      &:hover{
        background-color: $White-Snow;
        color: $Dark-Void;
        border: 1px solid $White-Snow;
      }

      &:nth-of-type(n + 2) {
        margin-left: 20px;
      }
    }

    button {
      margin-left: 20px;
      background-color: $Liquid-Lava;
      color: $White-Snow;
      border-radius: 4px;
      padding: 7px 13px;

      &:nth-of-type(2) {
        // Styles for the second button
        height: auto;
        width: auto;
      }
    }
  }

  .product-card{
    
    
  }

  .bill-information-cart{
    .bill-information-item{
      margin-top: 10px;
      border-bottom: 1px solid $White-Snow;
            .bill-infor-title{
                color: $White-Snow;
                font-size: 20px;
                margin-bottom: 10px;
            }
            &:nth-child(n +2){
                padding-top: 20px;
            }
    }
    padding-bottom: 20px;
  }

  .note-card{
    textarea{
        background-color: $Dusty-Grey;
        color: $White-Snow;
        font-size: 20px;
        width: 100%;
        resize: none;
        border-radius: 5px;
        border: 1px solid $White-Snow;
        padding: 10px;
        margin-top: 20px;
    }
  }

  .checkout-card{
    .payment-type{
        button{
            padding: 20px 90px;
            border-radius: 5px;
            border: 1px solid $White-Snow;
            color: $White-Snow;
            background-color: $Gluon-Grey;
            transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
            &:hover{
                background-color: $White-Snow;
                color: $Dark-Void;
                border: 1px solid $White-Snow;
            }
            &:nth-of-type(n + 2){
                margin-left: 20px;
            }
            i{
                padding-right: 5px;
            }
        }

    }
    .checkout-info{
        margin-top: 15px;
        .checkout-info-item{
            border-bottom: 1px solid $White-Snow;
            .Checkout-title{
                color: $White-Snow;
                font-size: 20px;
                margin-bottom: 10px;
            }
            &:nth-child(n +2){
                padding-top: 20px;
            }
        }
    }
  }

  .customer-card{
    .customer-title{
      h2{
        span{
          color: $Dusty-Grey;
          padding-left: 10px;
        }
      }
      button{
        padding: 9px 42px;
        border-radius: 5px;
            border: 1px solid $White-Snow;
            color: $White-Snow;
            background-color: $Gluon-Grey;
            transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
            &:hover{
                background-color: $White-Snow;
                color: $Dark-Void;
                border: 1px solid $White-Snow;
            }
        
      }
    }
    .customer-item{
      margin-top: 30px;
      p{
        font-size: medium;
        margin-top: 10px;
            .bill-infor-title{
                color: $White-Snow;
                font-size: 20px;
                margin-bottom: 10px;
            }
            &:nth-child(n +2){
                padding-top: 20px;
            }
        span{
          color: $Dusty-Grey;
          padding-left: 10px;
        }
    

      }

    }
  }


}