<div class="col-xl-12 col-lg-12 col-md-12 content">
  <div class="new-order-zone">
    <div class="row">
      <!-- Order Holder -->
      <div class="col-xl-12 col-lg-12 col-md-12 order-information">
        <div class="d-flex justify-content-between">
          <!-- Order Hang Holder -->
          <div class="order-holder" *ngFor="let pos of posHangList">
            <a href="javascript:void(0)" class="text-capitalize">
              {{ pos.posNumber }}
            </a>

            <!-- Show this if no orders are hanging -->
            <ng-template #noHangOrders>
              <p>No hanging orders available</p>
            </ng-template>
          </div>

          <!-- Order Hang Deleted -->
          <div class="order-deleted">
            <button>
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 order-information">
        <div class="d-flex justify-content-between">
          <!-- TODO: Thêm class "active" khi order được chọn -->
          <div class="order-holder">
            <a href="javascript:void(0)" class="text-capitalize">
              {{ currentPosNumber }}
            </a>
            <!-- Show this if no orders are available -->
            <ng-template #noOrders>
              <p>No orders available</p>
            </ng-template>

            <!-- Button to create a new order -->
            <button (click)="hangPO()">
              <i class="fas fa-plus"></i>
            </button>
          </div>
          <div class="order-deleted">
            <button (click)="hangPO()">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Product Card -->
      <!-- TODO: Limited rows can show (4-5 rows) -->
      <div class="col-xl-8 col-lg-8 col-md-8 product-card mt-5">
        <div class="card-item">
          <div class="header d-flex justify-content-between">
            <h2>Product</h2>
            <button (click)="openProductDialog()">
              <i class="fas fa-plus"></i>
            </button>
          </div>

          <div
            *ngIf="!dataSource || dataSource.data.length === 0"
            class="empty-card d-flex flex-column align-items-center justify-content-center"
          >
            <i class="fas fa-box-open"></i>
            <p>There is no item in the card yet!</p>
          </div>
          <table
            *ngIf="dataSource && dataSource.data.length > 0"
            mat-table
            [dataSource]="dataSource"
            matSort
            class="mat-elevation-z8"
          >
            <ng-container matColumnDef="goodsName">
              <th mat-header-cell *matHeaderCellDef>Goods Name</th>
              <td mat-cell *matCellDef="let good">{{ good.goodsName }}</td>
            </ng-container>

            <ng-container matColumnDef="barcode">
              <th mat-header-cell *matHeaderCellDef>Barcode</th>
              <td mat-cell *matCellDef="let good">{{ good.barcode }}</td>
            </ng-container>

            <ng-container matColumnDef="unit">
              <th mat-header-cell *matHeaderCellDef>Unit</th>
              <td mat-cell *matCellDef="let good">{{ good.itemUnit }}</td>
            </ng-container>

            <ng-container matColumnDef="propertyName">
              <th mat-header-cell *matHeaderCellDef>Property Name</th>
              <td mat-cell *matCellDef="let good">{{ good.propertyName }}</td>
            </ng-container>

            <ng-container matColumnDef="propertyValue">
              <th mat-header-cell *matHeaderCellDef>Property Value</th>
              <td mat-cell *matCellDef="let good">{{ good.propertyValue }}</td>
            </ng-container>

            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef>Quantity</th>
              <td mat-cell *matCellDef="let good">{{ good.itemQuantity }}</td>
            </ng-container>

            <ng-container matColumnDef="itemPrice">
              <th mat-header-cell *matHeaderCellDef>Price</th>
              <td mat-cell *matCellDef="let good">
                {{ good.itemPrice | number : "1.0-2" }} VND
              </td>
            </ng-container>

            <ng-container matColumnDef="subTotal">
              <th mat-header-cell *matHeaderCellDef>Subtotal</th>
              <td mat-cell *matCellDef="let good">
                {{ good.subTotal | number : "1.0-2" }} VND
              </td>
            </ng-container>

            <ng-container matColumnDef="lineDiscount">
              <th mat-header-cell *matHeaderCellDef>Line Discount</th>
              <td mat-cell *matCellDef="let good">
                {{ good.lineDiscount | number : "1.0-2" }} VND
              </td>
            </ng-container>

            <ng-container matColumnDef="lineTotal">
              <th mat-header-cell *matHeaderCellDef>Line Total</th>
              <td mat-cell *matCellDef="let good">
                {{ good.lineTotal | number : "1.0-2" }} VND
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </div>

      <!-- Bill Information Card -->
      <div
        class="col-xxl-4 xol-xl-4 col-lg-4 col-md-4 bill-information-cart mt-5"
      >
        <div class="card-item">
          <h2>Bill Information:</h2>
          <div class="bill-information-item d-flex justify-content-between">
            <p class="text-capitalize bill-infor-title">Seller:</p>
            <p class="text-capitalize bill-infor-detail">{{ fullName }}</p>
          </div>
          <!-- <div class="bill-information-item d-flex justify-content-between">
            <p class="text-capitalize bill-infor-title">Store:</p>
            <p class="text-capitalize bill-infor-detail">Location</p>
          </div> -->
          <div class="bill-information-item d-flex justify-content-between">
            <p class="text-capitalize bill-infor-title">Bill Date:</p>
            <p class="text-capitalize bill-infor-detail">
              {{ posHeader?.posDate | date : "dd/MM/yyyy" }}
            </p>
          </div>
          <div class="bill-information-item d-flex justify-content-between">
            <p class="text-capitalize bill-infor-title">POS Number</p>
            <p class="text-capitalize bill-infor-detail">
              {{ currentPosNumber }}
            </p>
          </div>
        </div>
      </div>

      <!-- Note Card -->
      <div class="col-xl-4 col-lg-4 col-md-4 note-card mt-3">
        <div class="card-item">
          <h2 class="text-capitalize">Note:</h2>

          <textarea name="note" id="note" cols="30" rows="10"></textarea>
        </div>
      </div>

      <!-- Checkout Card -->
      <div class="col-xxl-4 xol-xl-4 col-lg-4 col-md-4 checkout-card mt-3">
        <div class="card-item">
          <h2 class="text-capitalize">Check Out:</h2>

          <div class="payment-type">
            <button class="btn" (click)="setPaymentMethod(0)">
              <i class="fa-solid fa-money-bill"></i>
              Cash
            </button>
            <button class="btn">
              <i class="fa-solid fa-qrcode"></i>
              QR Code
            </button>
          </div>
          <div class="checkout-info">
            <div class="checkout-info-item d-flex justify-content-between">
              <p class="checkout-title">Subtotal:</p>
              <p class="checkout-price">
                {{ subtotal | number : "1.0-2" }} VND
              </p>
            </div>
            <div class="checkout-info-item d-flex justify-content-between">
              <p class="checkout-title">Discount:</p>
              <p class="checkout-price">
                {{ discount | number : "1.0-2" }} VND
              </p>
            </div>
            <div class="checkout-info-item d-flex justify-content-between">
              <p class="checkout-title">Total:</p>
              <p class="checkout-price-total fw-bold">{{ total | number : "1.0-2" }} VND</p>
            </div>
            <div class="checkout-info-customer-pay d-flex justify-content-between" [formGroup]="form">
              <p class="checkout-title">Customer Pay:</p>
              <div class="checkout-info-customer-pay-input d-flex justify-content-between">
                <!-- TODO: Chỉnh phần input thêm giấu chấm cho mỗi đơn vị lên hàng ngàn (giống phần add price trong good price) -->
                <input type="number" class="form-control" placeholder="Enter amount" formControlName="customerPay" />
                <p>VND</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Customer Card -->
      
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 customer-card mt-3">
        <div class="card-item">
          <div class="customer-title d-flex justify-content-between">
            <h2>Customer:</h2>
            <div class="customer-btn">
              <button (click)="openCustomerDialog()">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>

          <div class="customer-item" *ngIf="selectedCustomer">
            <p class="text-capitalize">
              Customer name: <span>{{ selectedCustomer.customerName }}</span>
            </p>
            <p class="text-capitalize">
              Customer Address:
              <span>{{ selectedCustomer.customerAddress }}</span>
            </p>
            <p class="text-capitalize">
              Email: <span>{{ selectedCustomer.customerEmail }}</span>
            </p>
            <p class="text-capitalize">
              Phone number: <span>{{ selectedCustomer.customerPhone }}</span>
            </p>
          </div>
          <div class="customer-item" *ngIf="!selectedCustomer">
            <p>Select a customer to display their details.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
