@import "../../../styles.scss";

.custom-dialog-container {
  --mdc-dialog-container-color: $Dusty-Grey;

  .mat-dialog-container {
    padding: 25px 30px;
    background-color: $Dusty-Grey;
    border: 2px solid $White-Snow; // Add border to the dialog
    border-radius: 20px; // Add border radius for rounded corners
  }
}

:host{
  h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  body.dark-mode & {
    .new-order-zone {
      .order-information {
        .order-holder {
          a {
            color: $White-Snow;
            border-radius: 5px;
            border: 1px dashed $White-Snow;
            transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    
            &:hover {
              background-color: $White-Snow;
              color: $Dark-Void;
              border: 1px solid $White-Snow;
            }
        
            &:active {
              background-color: $White-Snow;
              color: $Dark-Void;
              border: 1px solid $White-Snow;
            }
          }
    
          button {
            @include btn-white-border;
            
          }
        }
    
        .order-deleted {
          button {
            @include btn-orange-border;
          }
        }
      }
    
      .product-card {
        .header {
    
          button {
            @include btn-white-border;
          }
    
          .search-bar {
            @include search-bar-input;
    
            form {
              input {    
                &::placeholder {
                  color: $Dusty-Grey;
                }
              }
    
              button {
                @include btn-white-border;
              }
            }
    
          }
    
          .add-new-ctm {
            button {
              @include btn-green-border;
            }
          }
        }
    
        .empty-card {
          border: 1px dashed $White-Snow;    
          i {
            color: $White-Snow;
          }
    
          p {
            color: $White-Snow;
          }
        }
    
        table {
          .pd-name {
            td {
              color: $Dark-Void !important;
            }
          }
    
          td {
            select {
              background-color: transparent !important;
              color: $White-Snow;
    
              option {
                background-color: $Dusty-Grey;
                color: $White-Snow;
              }
            }
    
            input {
              background-color: transparent;
              color: $White-Snow;
              border-radius: 5px;
              border: 1px dashed $White-Snow;
    
              :focus {
                border: 1px solid $White-Snow !important;
              }
            }
          }
        }
    
      }
    
      .bill-information-cart {
        .bill-information-item {
          border-bottom: 1px solid $White-Snow;
    
          .bill-infor-title {
            color: $White-Snow;
            font-size: 20px;
          }
    
        }
    
      }
    
      .note-card {
        textarea {
          background-color: $Dusty-Grey;
          color: $White-Snow;
          border: 1px solid $White-Snow;
        }
      }
    
      .checkout-card {
        .payment-type {
    
          button {
            @include btn-white-border;
    
          }
        }
    
        .checkout-info {
          .checkout-info-item {
            border-bottom: 1px solid $White-Snow;
    
            input {
              background-color: $Gluon-Grey;
              color: $White-Snow;
              border: 1px dashed $White-Snow;
    
              &::placeholder {
                color: $Dusty-Grey;
              }
    
            }
          }
    
          .checkout-info-customer-pay {
    
            .checkout-info-customer-pay-input {
              input {
    
                background-color: $Gluon-Grey;
                color: $White-Snow;
                border: 1px dashed $White-Snow;
    
    
                &::placeholder {
                  color: $Dusty-Grey;
                }
    
              }
    
              p {
                border: 1px dashed $White-Snow;    
              }
            }
          }
        }
      }
    
      .customer-card {
        .customer-title {
          h2 {
            span {
              color: $Dusty-Grey;
            }
          }
    
          button {
            @include btn-white-border;
          }
        }
    
        .customer-item {
          p {    
            .bill-infor-title {
              color: $White-Snow;
            }
    
    
            span {
              color: $Dusty-Grey;
            }
          }
        }
      }
    }
  }
  body.light-mode &{
    .new-order-zone {
      .order-information {
        .order-holder {
          a {
            color: $Dark-Void;
            border-radius: 5px;
            border: 1px dashed $Dark-Void;
            transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    
            &:hover {
              background-color: $Dusty-Grey;
              color: $White-Snow;
              border: 1px solid $Dark-Void;
            }
        
            &:active {
              background-color: $Dark-Void;
              color: $White-Snow;
              border: 1px solid $White-Snow;
            }
          }
    
          button {
            @include btn-white-bg;
            border: 1px solid $Dark-Void;
          }
        }
    
        .order-deleted {
          button {
            @include btn-orange-bg;
          }
        }
      }
    
      .product-card {
        .header {
    
          button {
            @include btn-white-bg;
          }
    
          .search-bar {
            @include search-bar-input;
    
            form {
              input {    
                &::placeholder {
                  color: $Dusty-Grey;
                }
              }
    
              button {
                @include btn-white-bg;
              }
            }
    
          }
    
          .add-new-ctm {
            button {
              @include btn-green-border;
            }
          }
        }
    
        .empty-card {
          border: 1px dashed $Dark-Void;    
          i {
            color: $Dark-Void;
          }
    
          p {
            color: $Dark-Void;
          }
        }
    
        table {
          .pd-name {
            td {
              color: $Dark-Void !important;
            }
          }
    
          td {
            select {
              background-color: transparent !important;
              color: $Dark-Void;
    
              option {
                background-color: $Dusty-Grey;
                color: $White-Snow;
              }
            }
    
            input {
              background-color: transparent;
              color: $White-Snow;
              border-radius: 5px;
              border: 1px dashed $White-Snow;
    
              :focus {
                border: 1px solid $White-Snow !important;
              }
            }
          }
        }
      }

      .bill-information-cart {
        .bill-information-item {
          border-bottom: 1px solid $Dark-Void;
    
          .bill-infor-title {
            color: $Dark-Void;
            font-size: 20px;
          }
    
        }
    
      }

      .note-card {
        textarea {
          background-color: $Dusty-Grey;
          color: $Dark-Void;
          border: 1px solid $Dark-Void;
        }
      }

      .checkout-card {
        .payment-type {
    
          button {
            @include btn-white-bg;
    
          }
        }
    
        .checkout-info {
          .checkout-info-item {
            border-bottom: 1px solid $Dark-Void;
            
            input {
              background-color: $Gluon-Grey;
              color: $Dark-Void;
              border: 1px dashed $Dark-Void;
    
              &::placeholder {
                color: $Dusty-Grey;
              }
    
            }
          }
    
          .checkout-info-customer-pay {
    
            .checkout-info-customer-pay-input {
              input {
    
                background-color: transparent;
                color: $Dark-Void;
                border-right: none;
                border: 1px dashed $Dark-Void;
    
    
                &::placeholder {
                  color: $Dusty-Grey;
                }
    
              }
    
              p {
                border: 1px dashed $Dark-Void;    
                border-left: none;
              }
            }
          }
        }
      }

      .customer-card {
        .customer-title {
          h2 {
            span {
              color: $Dusty-Grey;
            }
          }
    
          button {
            @include btn-white-bg;
          }
        }
    
        .customer-item {
          p {    
            .bill-infor-title {
              color: $Dark-Void;
            }
    
    
            span {
              color: $Dusty-Grey;
            }
          }
        }
      }

      

    }
  }
}


.new-order-zone {
  .order-information {
    .order-holder {
      a {
        padding: 14px 40px;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;

        &:hover {
        }

        &:nth-of-type(n + 2) {
          margin-left: 20px;
        }

        &:active {
        }
      }

      button {
        margin-left: 20px;
        padding: 14px 20px !important;

        &:nth-of-type(2) {
          // Styles for the second button
          height: auto;
          width: auto;
        }
      }
    }

    .order-deleted {
      button {
        padding: 14px 40px !important;
      }
    }
  }

  .product-card {
    .header {

      

      button {
        padding: 9px 42px !important;
      }

      .search-bar {

        form {
          input {
            border-right: none;
            border-radius: 5px 0 0 5px !important;

            &::placeholder {
            }

            &:focus {
              outline: none;
              box-shadow: none; // For Bootstrap-specific focus shadows
            }
          }

          button {
            border-radius: 0 5px 5px 0 !important;
            border-left: none;
          }
        }

      }

      .add-new-ctm {
        button {
          padding: 10px 20px;
          border-radius: 5px;

        }
      }
    }

    .empty-card {
      border-radius: 12px;
      width: 100%;
      margin-top: 25px;
      padding: 34px 0;

      i {
        font-size: 50px;
        margin-top: 20px;
      }

      p {
        font-size: 20px;
        margin-top: 20px;
      }
    }

    table {
      .pd-name {
        td {
        }
      }

      td {
        select {
          background-color: transparent !important;

          option {
            background-color: $Dusty-Grey;
          }
        }

        input {
          background-color: transparent;
          border-radius: 5px;

          :focus {
          }
        }
      }
    }

  }

  .bill-information-cart {
    .bill-information-item {
      margin-top: 10px;

      .bill-infor-title {
        font-size: 20px;
        margin-bottom: 10px;
      }

      &:nth-child(n + 2) {
        padding-top: 20px;
      }
    }

    padding-bottom: 20px;
  }

  .note-card {
    textarea {
      font-size: 20px;
      width: 100%;
      resize: none;
      border-radius: 5px;
      padding: 10px;
      margin-top: 20px;
    }
  }

  .checkout-card {
    .payment-type {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;

      button {
        padding: 20px 30px !important;
        border-radius: 5px;
        flex: 1 1 auto;

        i {
          padding-right: 5px;
        }
      }
    }

    .checkout-info {
      margin-top: 15px;
      .checkout-title{
        font-weight: bold;
        font-size: 16px;
      }
      .checkout-info-item {
        border-bottom: 1px solid $White-Snow;

        input {
          // width: 100%;
          border-radius: 5px;
          padding: 6px;

          &::placeholder {
            color: $Dusty-Grey;
          }
          

        }
        .checkout-price-total{
          font-size: 20px;
        }
        

        &:nth-child(n + 2) {
          padding-top: 20px;
        }
      }

      .checkout-info-customer-pay {
        margin-top: 10px;

        p {
          padding: 6px 0;

        }

        .checkout-info-customer-pay-input {
          input {

            width: 100%;
            border-radius: 5px 0 0 5px !important;
            border-right: none;

            padding: 6px;
            text-align: right;

            &::placeholder {
            }
            &[type="number"] {
              -moz-appearance: textfield;
              -webkit-appearance: none;
              appearance: none;
        
              &::-webkit-inner-spin-button,
              &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
            }

          }

          p {
            border-radius: 0 5px 5px 0 !important;
            border-left: none;

            padding: 6px;

          }
          
        }
      }
    }
  }

  .customer-card {
    .customer-title {
      h2 {
        span {
          padding-left: 10px;
        }
      }

      button {
        padding: 9px 42px !important;
      }
    }

    .customer-item {
      margin-top: 30px;

      p {
        font-size: medium;

        .bill-infor-title {
          font-size: 20px;
          margin-bottom: 10px;
        }

        &:nth-child(n + 2) {
          padding-top: 20px;
        }

        span {
          padding-left: 10px;
        }
      }
    }
  }
}