<div class="col-xl-12 col-lg-12 col-md-12">
  <div class="new-order-zone">
    <div class="row">
      //TODO: have to limmit order holding tab!
      <div class="col-xl-12 col-lg-12 col-md-12 order-information">
        <a href="" class="text-capitalize">
          New Order New OrderNew Order New Order
        </a><a href="" class="text-capitalize">
          New Order
        </a><a href="" class="text-capitalize">
          New Order
        </a><a href="" class="text-capitalize">
          New Order
        </a><a href="" class="text-capitalize">
          New Order
        </a><a href="" class="text-capitalize">
          New Order
        </a><a href="" class="text-capitalize">
          New Order
        </a>
        <button>
          <i class="fas fa-plus"></i>
        </button>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 product-card  mt-5">
        <div class="card-item">
          <h2>Product</h2>

          //TODO: do limit rows
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Quantity Column -->
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
              <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
            </ng-container>

            <!-- Price Column -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
              <td mat-cell *matCellDef="let element"> {{element.price}} </td>
            </ng-container>

            <!-- Total Column -->
            <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
              <td mat-cell *matCellDef="let element"> {{element.total}} </td>
            </ng-container>

            <!-- Header and Row Definitions -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

        </div>

      </div>
      <div class="col-4"></div>
      <div class="col-xl-4 col-lg-4 col-md-4 note-card mt-3">
        <div class="card-item">
          <h2 class="text-capitalize">Note:</h2>

          <textarea name="note" id="note" cols="30" rows="10"></textarea>

        </div>

      </div>
      <div class="col-xxl-4 xol-xl-4 col-lg-4 col-md-4 checkout-card mt-3">
        <div class="card-item">
          <h2 class="text-capitalize">Check Out:</h2>
          //TODO: responsive button
          <div class="payment-type">
          
            <button class="btn">
              <i class="fa-solid fa-money-bill"></i>
              Cash
            </button>
            <button class="btn ">
              <i class="fa-solid fa-qrcode"></i>
              QR Code
            </button>
           
          </div>
          <div class="checkout-info">
            <div class="checkout-info-item d-flex justify-content-between">
              <p class="Checkout-title">Subtotal:</p>
              <p class="Checkout-price">$0.00</p>
            </div>
            <div class="checkout-info-item d-flex justify-content-between">
              <p class="Checkout-title">Discount:</p>
              <p class="Checkout-price">$0.00</p>
            </div>
            <div class="checkout-info-item d-flex justify-content-between">
              <p class="Checkout-title">Tax:</p>
              <p class="Checkout-price">$0.00</p>
            </div>
            <div class="checkout-info-item d-flex justify-content-between">
              <p class="Checkout-title">Total:</p>
              <p class="Checkout-price">$0.00</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>