<div class="container">
    <div class="side-bar">
        <app-side-bar></app-side-bar>
    </div>

    <div class="container-main">
        <div class="header">
            <app-header></app-header>
        </div>

        <div class="main">
            <div class="main-header">
                <h2> Supplier Management</h2>
            </div>

            <div class="main-search">
                <div class="search-bar">
                    <input type="text" placeholder="Search" />
                    <i class="fas fa-search"></i>
                  </div>
                  <div class="filter-bar">
                    <input type="text" placeholder="Filter" />
                    <i class="fas fa-filter"></i>
                  </div>

                  <button mat-flat-button class="add-new-btn" color="primary" (click)="openAddNewSupplier()" >Add New Supplier</button>

            </div>

            <div class="main-table">
                <div class="table-wrapper">
                    <mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="supplierId">
                            <mat-header-cell *matHeaderCellDef>Supplier Id</mat-header-cell>
                            <mat-cell *matCellDef="let supplier">{{supplier.supplierId}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="supplierName">
                            <mat-header-cell *matHeaderCellDef> Supplier Name</mat-header-cell>
                            <mat-cell *matCellDef="let supplier"> {{supplier.supplierName}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="supplierType">
                            <mat-header-cell *matHeaderCellDef> Supplier Type</mat-header-cell>
                            <mat-cell *matCellDef="let supplier"> {{ supplier.supplierType}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="supplierAddress">
                            <mat-header-cell *matHeaderCellDef>Supplier Address</mat-header-cell>
                            <mat-cell *matCellDef="let supplier"> {{ supplier.supplierAddress}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="supplierPhone">
                            <mat-header-cell *matHeaderCellDef> Supplier Phone</mat-header-cell>
                            <mat-cell *matCellDef="let supplier"> {{supplier.supplierPhone}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="supplierEmail">
                            <mat-header-cell *matHeaderCellDef> Supplier Email</mat-header-cell>
                            <mat-cell *matCellDef="let supplier"> {{supplier.supplierEmail}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
                            <mat-cell *matCellDef="let supplier">
                              <button mat-flat-button [matMenuTriggerFor]="actionsMenu" color="primary" class="detail-btn">
                                Actions
                                <mat-icon>arrow_drop_down</mat-icon>
                              </button>
                              <mat-menu #actionsMenu="matMenu">
                                
                                <button mat-menu-item (click)="openEditSupplier(supplier)" >
                                  <mat-icon>edit</mat-icon>
                                  <span>Edit</span>
                                </button>
                                <button mat-menu-item (click)="deleteSupplier(supplier.id)">
                                  <mat-icon>delete</mat-icon>
                                  <span>Delete</span>
                                </button>
                              </mat-menu>
                            </mat-cell>
                          </ng-container>

                          <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
                    </mat-table>
                </div>
            </div>
        </div>
    </div>
</div>