<h2 mat-dialog-title>Create New Property Group</h2>

<div mat-dialog-content>
    <div class="card">
        <div class="card-body">
            <form [formGroup]="form">

                <div class="mt-2">
                    <label>Property Name</label>
                    <input type="text" class="form-control" formControlName="propertyName"/>
                </div>
            </form>
        </div>
    </div>
</div>

<div mat-dialog-actions>
    <div class="card">
        <div class="card-body">
            <button mat-button (click)="onCancel()">Cancel</button>
            <button mat-button type="submit" (click)="Save()">Save</button>
        </div>
    </div>
</div>