<div class="container-fluid ad-header-component">
  <div class="col-12 ad-header">
    <app-header></app-header>
  </div>

  <div class="col-12">
    <div class="row">
      <div class="col-2 ad-sidenav">
        <app-sidebar></app-sidebar>
        
      </div>
      <div class="col-10">
        <app-admin-goods-page *ngIf="isAdminGoodsPage"></app-admin-goods-page>
        <app-admin-good-group *ngIf="isAdminGoodGroup"></app-admin-good-group>
        <app-admin-supplier *ngIf="isAdminSupplier"></app-admin-supplier>
        <app-admin-property-group
          *ngIf="isAdminPropertyGroup"
        ></app-admin-property-group>
        <app-admin-customer *ngIf="isAdminCustomer"></app-admin-customer>
        <app-admin-user-management
          *ngIf="isAdminUserManagement"
        ></app-admin-user-management>
        <app-admin-dashboard *ngIf="isAdminDashboard"></app-admin-dashboard>
      </div>
    </div>
  </div>
</div>

<div class="hidden-content">
  <div
    class="d-flex justify-content-center align-items-center"
    style="height: 100vh"
  >
    <h1>Pls use PC to continues using system</h1>
  </div>
</div>
