<div class="container-fluid">
    <div class="row">
        <div class="pos-page">
            <div class="pos-header">
                <!-- TODO: redesign POS header (UI updated in figma) -->
                <app-pos-header></app-pos-header>
            </div>


            <div class="pos-main">
                <app-pos-main></app-pos-main>
            </div>

            <div class="pos-footer">
                <app-pos-footer></app-pos-footer>
            </div>

        </div>

        <div class="hidden-content">
            <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
                <h1>Pls use PC to continues using system</h1>
            </div>
        </div>
    </div>
</div>