.container {
    display: flex;
    flex-wrap: nowrap;
    background-color: gray;
  }
  
  .container-main {
    width: 100%;
    background-color: white;
    padding: 20px;
    .header {
      background-color: white;
      margin-bottom: 20px;
      padding: 20px;
    }
  
    .main {
      background-color: #f9f9f9;
      padding: 20px;
    }
  }
  
  .container-main .header {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .container-main .main {
    background-color: #f9f9f9;
    padding: 20px;
  }
  .header {
    border: 1px solid #ccc;
    padding: 10px;
    align-items: center;
  }
  
  .header-content {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .header-left a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
  }
  
  .header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .header-right .profile-icon {
    font-size: 24px;
    color: #333;
    margin-left: 10px;
  }
  
    .main {
      .main-header {
        display: flex;
        justify-content: center;
        h2 {
          margin: 0;
          padding: 0 20px;
        }
      }
    
      .main-search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    
        .search-bar,
        .filter-bar {
          display: flex;
          align-items: center;
          background-color: #f1f1f1;
          border-radius: 5px;
          padding: 5px 10px;
          width: calc((100% - 120px) / 2);
    
          input {
            flex: 1;
            border: none;
            background-color: transparent;
            outline: none;
            font-size: 14px;
          }
    
          i {
            color: #888;
            font-size: 16px;
            margin-left: 5px;
          }
        }
    
        .add-new-btn {
  
          border: none;
          border-radius: 5px;
          padding: 20px 1px; /* increased padding to make the button taller */
          font-size: 14px;
          cursor: pointer;
        }
      }
    
      .main-table {
        padding-top: 20px;
        table {
          width: 100%;
          border-collapse: collapse;
          th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
          }
        }
      }
      
    }
  
    .form-field-container {
      justify-content: space-between;
      margin-bottom: 20px; /* Tăng khoảng cách giữa các trường */

      .showform {
        margin-top: 10px;
        margin-left: 10px;
      }
    }
    
    .form-field-container mat-form-field {
      padding: 10px;
    }