<div class="container-fuild ad-header-detail">
  <div class="row">
    <div class="col-xl-2 col-md-2 POS-user-btn">
      <button routerLink="/POS">
        <i class="fa-solid fa-gear"></i>
      </button>
    </div>
    <div class="col-xl-7 col-md-7 POS-logo text-center">
      <img src="../../../assets/Image/Logo_edited.svg" alt="" />
    </div>
    <div class="col-xl-3 col-md-3 POS-user d-flex justify-content-end">
      <div class="text-end POs-user-infor">
        <p class="text-capitalize">
          Hello, <span>{{ fullName }} </span>
        </p>
        <p class="role">{{ userRole === 1 ? "Staff" : "User" }}</p>
      </div>
      <img
        src="https://i.pinimg.com/enabled_hi/236x/80/62/8a/80628a1842568b00dcaca6861e0a834a.jpg"
        alt=""
      />
    </div>
  </div>
</div>
