@import "../../../_variables.scss";
@import "../../../styles.scss";
@import "../../../_globals.scss";

:host{
  body.dark-mode &{
    .ad-main-content{
      .ad-main-data{
        .profile-image{
          img{
            
            border: 1px solid $White-Snow;
            box-shadow: 0px 0px 10px 0px $White-Snow;
          }
        }
      }
    }
  }
  body.light-mode &{
    .ad-main-content{
      .ad-main-data{
        .profile-image{
          img{
            border: 1px solid $Dark-Void;
            box-shadow: 0px 0px 10px 0px $Dark-Void;
          }
        }
      }
    }
  }

}

.ad-main-content{
   
    .ad-main-data{
        border-radius: 14px;
        margin-top: 15px;
        padding: 21px 23px;
        .profile-details{
          padding: 20px;
          .profile-item{
            padding-bottom: 20px;
            p{
              font-size: 24px;
              color: $Dusty-Grey;
            }
            span{
              padding-left: 10px;
              font-size: 20px;
            }

          }
        }
        // .profile-image{
        //   body.dark-mode &{
        //     img{
        //       border: 1px solid $White-Snow;
        //     }
        //   }
        //   body.light-mode &{
        //     img{
        //       border: 1px solid $Dark-Void;
        //     }
        //   }
        // }
    }

    .profile-image {
      margin-bottom: 20px;
    }
    
    .profile-image img {
      width: 250px;
      height: 250px;
      border-radius: 12px;
      object-fit: cover;
    }
    
    .profile-details {
      width: 100%;
    }
    
    .profile-item {
      display: flex;
      margin-bottom: 10px;
    }
    
    .profile-item label {
      font-weight: bold;
    }
    
    .profile-item span {
    }
}

