<div class="update-good-group dialog-form">
  <h2>Update Good Group</h2>
  <div class="form-input">
    <form [formGroup]="form">
      <div class="mt-2">
        <label>Group Name</label>
        <input type="text" class="form-control" formControlName="groupName" />
      </div>

      <div class="mt-2">
        <label>Group Status</label>
        <select class="form-select" formControlName="groupStatus">
          <option [value]="0">Available</option>
          <option [value]="1">Unavailable</option>
        </select>
      </div>

      <div class="btn-zone">
        <button class="btn" (click)="Save()">Save</button>
        <button class="btn" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>

<app-loading-spinner></app-loading-spinner>
