<div class="container dialog-form">
  <div class="header">
    <div class="row">
      <div class="col-md-4">
        <h2>Product List</h2>
      </div>

      <div class="col-md-5 text-center search-bar">
        <form [formGroup]="form" class="search-form">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search..." />
            <div class="input-group-append">
              <button type="button" class="btn" (click)="getGoodsList()">
                <i class="fas fa-search"></i> Search
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="table-responsive form-input">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
      >
        <!-- Name Column -->
        <ng-container matColumnDef="name" class="pd-name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let good">{{ good.goodsName }}</td>
        </ng-container>

        <ng-container matColumnDef="unit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit</th>
          <td mat-cell *matCellDef="let good">
            <select class="form-select" (change)="onUnitChange(good, $event)">
              <option
                *ngFor="let price of good.tblSellprices"
                [value]="price.goodsUnit"
              >
                {{ price.goodsUnit }}
              </option>
            </select>
          </td>
        </ng-container>
        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
          <td mat-cell *matCellDef="let good">
            <div class="col-md-4">
              <input
                type="number"
                class="form-control-lg"
                [(ngModel)]="good.quantity"
                (ngModelChange)="updateTotal(good)"
                min="1"
              />
            </div>
          </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
          <td mat-cell *matCellDef="let good">
            {{ good.selectedPrice | number : "1.0-2" }}
          </td>
        </ng-container>

        <!-- Total Column -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
          <td mat-cell *matCellDef="let good">
            {{ good.total | number : "1.0-2" }}
          </td>
        </ng-container>

        <!-- Header and Row Definitions -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>

  <div class="btn-zone">
    <button class="btn">Save</button>
    <button class="btn" (click)="onCancel()">Cancel</button>
  </div>
</div>
