<div class="dialog-form">
  <div class="header">
    <div class="row">
      <div class="col-md-4">
        <h2>Product List</h2>
      </div>

      <div class="col-md-5 text-center search-bar">
        <form [formGroup]="form" class="search-form">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              formControlName="goodsName"
              placeholder="Search..."
            />
            <div class="input-group-append">
              <button type="button" class="btn" (click)="getGoodsList()">
                <i class="fas fa-search"></i> Search
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="table-responsive form-input">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8 custom-table"
      >
        <!-- Name Column -->
        <ng-container matColumnDef="name" class="pd-name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let good">{{ good.goodsName }}</td>
        </ng-container>

        <ng-container matColumnDef="unit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit</th>
          <td mat-cell *matCellDef="let good">
            <select
              class="form-select"
              (change)="onUnitChange(good, $event)"
              [(ngModel)]="good.selectedUnit"
            >
              <option
                *ngFor="let price of good.tblSellprices"
                [value]="price.goodsUnit"
              >
                {{ price.goodsUnit }}
              </option>
            </select>
          </td>
        </ng-container>
        <ng-container matColumnDef="propertyGroup">
          <th mat-header-cell *matHeaderCellDef>Property Group</th>
          <td mat-cell *matCellDef="let good; let i = index">
            <select
              class="form-select"
              [(ngModel)]="good.selectedProperty"
              (ngModelChange)="onPropertyGroupChange(good, $event)"
            >
              <option
                *ngFor="let group of propertyGroups"
                [value]="group.propertyId"
              >
                {{ group.propertyName }}
              </option>
            </select>
          </td>
        </ng-container>

        <ng-container matColumnDef="goodProperty">
          <th mat-header-cell *matHeaderCellDef>Good Property</th>
          <td mat-cell *matCellDef="let good">
            <select class="form-select" [(ngModel)]="good.selectedGoodProperty">
              <option
                *ngFor="let property of goodProperties[good.goodsId]"
                [value]="property.propertyName"
              >
                {{ property.propertyName }}
              </option>
            </select>
          </td>
        </ng-container>
        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
          <td mat-cell *matCellDef="let good">
            <input
              type="number"
              class="form-control"
              [(ngModel)]="good.quantity"
              (ngModelChange)="updateTotal(good)"
              min="1"
            />
          </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
          <td mat-cell *matCellDef="let good">
            {{ good.selectedPrice | number : "1.0-2" }}
          </td>
        </ng-container>

        <!-- Total Column -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
          <td mat-cell *matCellDef="let good">
            {{ good.total | number : "1.0-2" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="addcart">
          <th mat-header-cell *matHeaderCellDef>Add Cart</th>
          <td mat-cell *matCellDef="let good; let i = index">
            <button class="addItem" mat-icon-button (click)="onAddItem(good)">
              <i class="fas fa-plus"></i>
            </button>
          </td>
        </ng-container>

        <!-- Header and Row Definitions -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <div class="no-data" *ngIf="dataSource.data.length === 0">
        <h5>
          Please search to view Good list
        </h5>
      </div>
    </div>
  </div>

  <div class="btn-zone" mat-dialog-actions>
    <button class="btn">Save</button>
    <button class="btn" (click)="onCancel()">Cancel</button>
  </div>
</div>
