@import '../../../../styles.scss';



.dialog-form {
  background-color: $Dark-Void !important;
  padding: 25px 30px;
  height: 90vh;
  .custom-table {
    .mat-header-cell, .mat-cell {
      padding-bottom: 16px; // Customize the padding bottom
    }
  
    .mat-header-cell {
      font-weight: bold; // Customize the header font weight
    }
  
   
  }

  .header {
    h2 {
      color: $White-Snow;
      font-size: 30px;
      margin-bottom: 20px;
    }

    .search-bar {
      @include search-bar-input;

      form {
        input {
          border-right: none;
          border-radius: 5px 0 0 5px !important;

          &::placeholder {
            color: $Dusty-Grey;
          }

          &:focus {
            outline: none;
            box-shadow: none; // For Bootstrap-specific focus shadows
          }
        }

        button {
          @include btn-white-border;
          border-radius: 0 5px 5px 0 !important;
          border-left: none !important;
        }

        .btn-secondary {
          border-radius: 0 5px 5px 0 !important; // Remove left radius
          border-left: none !important; // Remove left border completely
          margin-left: -1px; // Fix alignment with the input
        }

        .custom-btn {
          border-radius: 0 5px 5px 0 !important; // Right-rounded only
          border-left: none !important; // Remove left border
          margin-left: -1px; // Fix gap alignment
        }

      }

    }

    .add-new-ctm {
      button {
        @include btn-green-border;
        padding: 10px 20px;
        border-radius: 5px;

      }
    }
  }

  .dialog-main {
    border-top: 1px solid $White-Snow;

    .dialog-main-left {}

    .dialog-main-right {
      .customer-input {
        @include input-text-field;
      }
    }
  }

  .table-responsive {
    max-height: 650px; // Set the maximum height for the table container
    overflow-y: auto; // Enable vertical scrolling
    overflow-x: auto; // Enable horizontal scrolling if needed
  }

  table {
    .pd-name {
      td {
        color: $Dark-Void !important;
      }
    }

    td {
      select {
        background-color: transparent !important;
        color: $White-Snow;

        option {
          background-color: $Dusty-Grey;
          color: $White-Snow;
        }
      }

      input {
        background-color: transparent;
        color: $White-Snow;
        border-radius: 5px;
        border: 1px dashed $White-Snow;

        :focus {
          border: 1px solid $White-Snow !important;
        }
      }
    }
  }
}

.addItem {
  @include btn-white-border;
  padding: 8px !important;

  
  
}


.success-snackbar {
  background-color: green; /* Change to your desired success color */
  color: green; /* Text color */
}

.error-snackbar {
  background-color: red; /* Change to your desired error color */
  color: red /* Text color */
}


  

