.ad-head-btn{
    margin: 15px 25px 0 0;
    padding: 0 25px 0 0;
}



.search-bar{
    margin: auto;
    padding: 0 120px;

    button{
        margin: 0 10px 0 0;
    }
    
    input{
        border-radius: 50px;
        border: 1px solid;
    }
    
}