<div mat-dialog-title> Create New Customer</div>

<div mat-dialog-content>
    <form #createCustomerForm="ngForm" (ngSubmit)="onSubmit(createCustomerForm)">
        <mat-form-field>
            <mat-label>Customer Id</mat-label>
            <input matInput [(ngModel)]="newCustomer.customerId" name="customerId" required />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Customer Name </mat-label>
            <input matInput [(ngModel)]="newCustomer.customerName" name="customerName" required />
        </mat-form-field>

        <mat-form-field>
            <mat-label> Customer Address </mat-label>
            <input matInput [(ngModel)]="newCustomer.customerAddress" name="customerAddress" required />

        </mat-form-field>

        <mat-form-field>
            <mat-label> Customer Phone </mat-label>
            <input matInput [(ngModel)]="newCustomer.customerPhone" name="customerPhone" required />
        </mat-form-field>

        <mat-form-field>
            <mat-label> Customer Email</mat-label>
            <input matInput [(ngModel)]="newCustomer.customerEmail" name="customerEmail" required />
        </mat-form-field>




    </form>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="primary" type="submit" [mat-dialog-close]="newCustomer" (click)="onSubmit(createCustomerForm)">Save</button>
  </div>