@import "../../styles.scss";

.ad-header-component{
    padding: 40px 40px 0 40px;
    .ad-header{
        
        
    }

}

.galaxy{
    background-color: $Dark-Void;
    
}

.ad-sidenav{
    height: 1000px;
    background-color: $Gluon-Grey;
    border-radius: 20px;
    
}