<div class="container-fluid ad-header-component">
  <div class="col-12 ad-header">
    <app-header></app-header>
  </div>

  <div class="col-12">
    <div class="row">
      <div class="col-2 ad-sidenav">
        <app-sidebar></app-sidebar>
        <!-- <div class="ad-sidenav">
        </div> -->
      </div>
      <div class="col-10">
        <app-goods-page *ngIf="isStaffGoodsPage"></app-goods-page>
        <app-goods-group *ngIf="isStaffGoodGroup"></app-goods-group>
        <app-pos *ngIf="isStaffPOS"></app-pos>
        <app-property-group *ngIf="isStaffPropertyGroup"></app-property-group>
        <app-supplier *ngIf="isStaffSupplier"></app-supplier>
        <app-customer *ngIf="isStaffCustomer"></app-customer>
        <app-user-profile *ngIf="isStaffUserProfile"></app-user-profile>
      </div>
    </div>
  </div>
</div>

<div class="hidden-content">
  <div
    class="d-flex justify-content-center align-items-center"
    style="height: 100vh"
  >
    <h1>Pls use PC to continues using system</h1>
  </div>
</div>
