@import "../../styles.scss";

:host {
  

  // Áp dụng style cho dark mode
  body.dark-mode & {
    
    .ad-sidenav {
      background-color: $Gluon-Grey; // Màu nền cho sidebar trong dark mode
      color: $White-Snow; // Màu chữ trong dark mode

      a {
        color: $White-Snow;
        &:hover {
          color: $Liquid-Lava; // Màu chữ khi hover
        }
      }

      .menu-item {
        border-bottom: 1px solid $Slate-Grey; // Viền chia cách menu
      }
    }

    .ad-header {
      background-color: transparent; // Header nền dark mode
    }
  }

  // Áp dụng style cho light mode
  body.light-mode & {
    .ad-sidenav {
      background-color: $Greenwich; // Màu nền cho sidebar trong light mode
      color: $Dark-Void; // Màu chữ trong light mode

      a {
        color: $Dark-Void;
        &:hover {
          color: $Dark-Void; // Màu chữ khi hover
        }
      }

      .menu-item {
        border-bottom: 1px solid $Dusty-Grey; // Viền chia cách menu
      }
    }

    .ad-header {
      background-color: transparent; 
    }
  }

  // Các style khác áp dụng chung
  .ad-sidenav {
    border-radius: 20px;
    padding: 20px;

    .menu-item {
      padding: 10px 15px;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: $Liquid-Lava;
        color: $White-Snow;
      }
    }
  }

  .ad-header-component {
    padding: 40px 40px 0 40px;

    .ad-header {
      font-size: 18px;
      font-weight: bold;
    }
  }

}

.hidden-content {
  display: none;
}

@media screen and (max-width: 1200px) {
  .hidden-content {
    display: block !important;
  }

  .ad-header-component {
    display: none !important;
  }

}