<div class="fuild-container">
  <div class="row">
    <div class="col-xl-2 col-lg-2 col-md-2 admin-sidebar">
      <app-admin-sidebar></app-admin-sidebar>
    </div>
    <div class="col-xl-10 col-lg-10 col-md-10">
      <app-admin-header></app-admin-header>
      <div class="ad-background">
        <div class="ad-btn-function">
          <button mat-stroked-button (click)="openCreateGoods()">Create Good</button>

        </div>

        <form [formGroup]="form">
          <div class=" search-bar form-outline justify-content-center w-100" data-mdb-input-init>
            <input type="search" class="form-control" formControlName="groupId" placeholder="Search Good by Group" />

            <button mat-stroked-button (click)="getGoodByGroup()">Search</button>
          </div>
        </form>

        <div class="ad-table">
          <div class="table-name">
            Group Information
          </div>
          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
              <ng-container matColumnDef="expandArrow">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let group" (click)="toggleRow(group)">
                  <mat-icon>{{ group.expanded ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}</mat-icon>
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action</th>
                <td mat-cell *matCellDef="let goods">
                  <button mat-stroked-button [matMenuTriggerFor]="actionsMenu" color="primary" class="detail-btn">
                    Actions
                    <mat-icon>arrow_drop_down</mat-icon>
                  </button>
                  <mat-menu #actionsMenu="matMenu">
                    <button mat-menu-item>
                      <mat-icon> add</mat-icon>
                      <span>Add Unit</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>add</mat-icon>
                      <span>Add Property</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>attach_money</mat-icon>
                      <span>Add Sell Price</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
                </td>
              </ng-container>

              <ng-container matColumnDef="groupId">
                <th mat-header-cell *matHeaderCellDef> Group Id</th>
                <td mat-cell *matCellDef="let group">{{group.groupId}}</td>

              </ng-container>

              <ng-container matColumnDef="groupName">
                <th mat-header-cell *matHeaderCellDef> Group Name</th>
                <td mat-cell *matCellDef="let group"> {{group.groupName}}</td>
              </ng-container>

              <ng-container matColumnDef="groupStatus">
                <th mat-header-cell *matHeaderCellDef> Group Status</th>
                <td mat-cell *matCellDef="let group">{{group.groupStatus}}</td>
              </ng-container>

              <ng-container matColumnDef="storeId">
                <th mat-header-cell *matHeaderCellDef> Store Id</th>
                <td *matCellDef="let group">{{group.storeId}}</td>
              </ng-container>

              <ng-container matColumnDef="expandedDetail">
                <td class="boder_table color_table_background" mat-cell *matCellDef="let group"
                    [attr.colspan]="displayedColumns.length">
                  <div class="example-element-detail flex-container"
                      [@detailExpand]="group.expanded ? 'expanded' : 'collapsed'">
                    <div class="card">
                      <div class="card-header">
                        <div class="table-name">Good Information</div>
                      </div>

                      <div class="card-body">
                        <table mat-table [dataSource]="innerDataSource" class="detail-table mat-elevation-z8">
                          <ng-container matColumnDef="goodsId">
                            <th mat-header-cell *matHeaderCellDef> Goods ID </th>
                            <td mat-cell *matCellDef="let goods"> {{ goods.goodsId }} </td>
                          </ng-container>

                          <ng-container matColumnDef="goodsName">
                            <th mat-header-cell *matHeaderCellDef> Goods Name </th>
                            <td mat-cell *matCellDef="let goods"> {{ goods.goodsName }} </td>
                          </ng-container>

                          <ng-container matColumnDef="goodsBrand">
                            <th mat-header-cell *matHeaderCellDef> Goods Brand </th>
                            <td mat-cell *matCellDef="let goods"> {{ goods.goodsBrand }} </td>
                          </ng-container>

                          <ng-container matColumnDef="picture">
                            <th mat-header-cell *matHeaderCellDef> Picture </th>
                            <td mat-cell *matCellDef="let goods">
                              <img [src]="goods.picture" alt="Goods Picture" width="50" height="50">
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="goodsStatus">
                            <th mat-header-cell *matHeaderCellDef> Goods Status </th>
                            <td mat-cell *matCellDef="let goods"> {{ goods.goodsStatus }} </td>
                          </ng-container>

                          <tr mat-header-row *matHeaderRowDef="childDisplayedColumns"></tr>

                          <tr mat-row *matRowDef="let good; columns: childDisplayedColumns;" class="data-row"></tr>


                        </table>
                      </div>
                    </div>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let group; columns: displayedColumns;"></tr>
              <tr mat-row *matRowDef="let group; columns: ['expandedDetail']" class="example-detail-row"></tr>


            </table>


          </div>

        </div>

      </div>

    </div>
  </div>
</div>





<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>