<div class="container">
    <div class="header">
        <h2>Edit Sell Price</h2>
    </div>

    <div class="main">
        <form #editSellPriceForm="ngForm" (ngSubmit)="onSave()">
            <mat-form-field>
                <mat-label>Goods Id</mat-label>
                <input matInput [(ngModel)]="editSellPrice.goodsId" name="goodsId" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Bar Code</mat-label>
                <input matInput [(ngModel)]="editSellPrice.barCode" name="barCode" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Goods Unit</mat-label>
                <input matInput [(ngModel)]="editSellPrice.goodsUnit" name="goodsUnit" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Sell Number</mat-label>
                <input matInput [(ngModel)]="editSellPrice.sellNumber" name="sellNumber" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Sell Price</mat-label>
                <input matInput [(ngModel)]="editSellPrice.sellPrice" name="sellPrice" required>
            </mat-form-field>

            <button mat-flat-button color="primary" type="submit">Save</button>
        </form>
    </div>
</div>