<div class="container">
    <div class="header">
        <h2> Edit Goods Unit</h2>
    </div>

    <div class="main">
        <form #editGoodsunitForm="ngForm" (ngSubmit)="onSave()">
            <mat-form-field>
                <mat-label>Goods Id</mat-label>
                <input matInput [(ngModel)]="editGoodsUnit.goodsId" name="goodsId" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Bar Code</mat-label>
                <input matInput [(ngModel)]="editGoodsUnit.barCode" name="barCode" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Goods Unit</mat-label>
                <input matInput [(ngModel)]="editGoodsUnit.goodsUnit" name="goodsUnit" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Unit Size</mat-label>
                <input matInput [(ngModel)]="editGoodsUnit.unitSize" name="unitSize" required>
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Unit Status</mat-label>
                <input matInput [(ngModel)]="editGoodsUnit.unitStatus" name="unitStatus" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label> Unit Stock</mat-label>
                <input matInput [(ngModel)]="editGoodsUnit.unitStock" name="unitStock" required>
            </mat-form-field>

            <button mat-flat-button color="primary" type="submit" >Save</button>

        </form>
    </div>
</div>