@import "../../styles.scss";




:host{

    body.dark-mode &{
        .POS-user-infor{
            p{
                transition: background-color 0.3s, color 0.3s;
                color: $Dusty-Grey;
                span{
                    transition: background-color 0.3s, color 0.3s;
                    color: $White-Snow;
                }
            }
        }

    }
    body.light-mode &{
        .POS-user-infor{
            p{
                color: $Dusty-Grey;
                span{
                    transition: background-color 0.3s, color 0.3s;
                    color: $Dark-Void;
                }
            }
        }

    }
}

.ad-head-btn{

    button{
        margin: 0 10px 0 0;
        span{
            .mat-mdc-button-touch-target{
                margin-right: 10px ;
            }
        }
        
    }


}



.search-bar{
    margin: auto;
    padding: 0 120px;

    button{
        margin: 0 10px 0 0;
        span{
            font-weight: bold !important;
            .mat-mdc-button-touch-target{
                margin-right: 10px !important;
            }
        }
    }
    
    input{
        border-radius: 50px;
        border: 1px solid;
    }
    
}

.ad-header-detail{
    margin-bottom: 50px !important;
    .POS-logo{
        img{
            height: 67px;

        }
    }
    .POS-user{
        button{
            padding: 14px 42px !important;
            border-radius: 12px;
            
            transition: background-color 0.3s ease;
            i{
                font-size: 18px;
            }

            &:hover {
                background-color: $Liquid-Lava;
                i{
                    color: $White-Snow;
                }
                
            }
            
        }
        img{
            height: 70px;
            width: 70px;
            border-radius: 100px;
        }
        i{
            color: $Dusty-Grey;
            font-size: 16px;
            
            
        }

        .POS-user-infor{
            padding: 9px 15px;
            p{
                span{
                    font-weight: bold !important;
                }
            }
        }
    }

}
