<div class="container-fuild ad-header-detail">
  <div class="row">
    <div class="col-xl-2 col-md-2 POS-logo">
      <img
        [src]="
          isLightMode
            ? '../../../assets/Image/Logo_Light.svg'
            : '../../../assets/Image/Logo_Dark.svg'
        "
        alt="Logo"
      />
    </div>
    <div class="col-xl-4 col-md-4"></div>
    <div class="col-xl-6 col-md-6 POS-user d-flex justify-content-end">
      <div class="POS-user-btn">
        <button *ngIf="userRole === 1 && hasMenuOrder(1)" routerLink="/POS">
          <i class="fa-solid fa-cash-register"></i>
        </button>
      </div>
      <div class="text-end POS-user-infor">
        <p class="text-capitalize">
          Hello, <span>{{ fullName }}</span>
        </p>
        <p class="role">{{ userRole === 1 ? "Staff" : "Admin" }}</p>
      </div>
      <div class="dropdown">
        <img
          [src]="userData?.picture || 'assets/Image/default-avatar.png'"
          class="dropdown-toggle"
          id="userMenu"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          alt=""
        />
        <!-- Dropdown Menu -->
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
          <li *ngIf="userRole === 1">
            <button class="dropdown-item" [routerLink]="'/Staff/user-profile'">
              <i class="fa-solid fa-user me-2"></i>
              Staff Profile
            </button>
          </li>
          <li>
            <button class="dropdown-item" (click)="toggleTheme()">
              <!-- <i class=" fa-solid fa-moon"></i> -->
              <i
                [ngClass]="
                  isLightMode ? 'fa-solid fa-moon me-2' : 'fa-solid fa-sun me-2'
                "
              ></i>
              {{ isLightMode ? "Dark Mode" : "Light Mode" }}
            </button>
          </li>
          <li>
            <button class="dropdown-item" (click)="logout()">
              <i class="fa-solid fa-right-from-bracket me-2"></i>
              Logout
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
