<div class="container">
    <div class="header">
        <h2>Edit Goods Group</h2>
    </div>

    <div class="main">
        <form #createGoodsGroupFrom="ngForm" (ngSubmit)="onSave()">
            <mat-form-field> 
                <mat-label> Group Id</mat-label>
                <input matInput [(ngModel)]="editGoodsGroup.groupId" name="groupId" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label> Group Name</mat-label>
                <input matInput [(ngModel)]="editGoodsGroup.groupName" name="groupName" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label> Group Status</mat-label>
                <input matInput [(ngModel)]="editGoodsGroup.groupStatus" name="groupStatus" required>
            </mat-form-field>

            <button mat-flat-button color="primary" type="submit" >Save</button>

        </form>
    </div>
</div>