<div class="container">
    <div class="container-main">
        <div class="header">
            <app-header [isInDialog]="true" [dialogRefGoodsProperty]="dialogRef"></app-header>
        </div>

        <div class="main">
            <div class="main-header">
                <h2>Goods Property</h2>
            </div>

            <div class="main-search">
                <div class="search-bar">
                    <input type="text" placeholder="Search" />
                    <i class="fas fa-search"></i>
                </div>

                <div class="filter-bar">
                    <input type="text" placeholder="Filter" />
                    <i class="fas fa-filter"></i>
                </div>
            </div>

            <div class="form-field-container">

                <button class="showform" mat-flat-button color="primary" (click)="toggleFormVisibility()">
                    Add Goods Property
                  </button>
                
                  <div *ngIf="showForm">
                    <form #createGoodsPropertyForm="ngForm" (ngSubmit)="onSubmit(createGoodsPropertyForm)">
                      <mat-form-field>
                        <mat-label>Goods Id</mat-label>
                        <input matInput [(ngModel)]="product.goodsId" name="goodsId" required />
                      </mat-form-field>
                
                      <mat-form-field>
                        <mat-label>Property Id</mat-label>
                        <input matInput [(ngModel)]="newGoodsProperty.propertyId" name="propertyId" required />
                      </mat-form-field>
                
                      <mat-form-field>
                        <mat-label>Property Name</mat-label>
                        <input matInput [(ngModel)]="newGoodsProperty.propertyName" name="propertyName" required />
                      </mat-form-field>
                
                      <mat-form-field>
                        <mat-label>Property Value</mat-label>
                        <input matInput [(ngModel)]="newGoodsProperty.propertyValue" name="propertyValue" required />
                      </mat-form-field>
                
                      <button mat-flat-button color="primary" type="submit">Save</button>
                    </form>
                  </div>

            </div>

            <div class="main-table">
                <mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="goodsId">
                        <mat-header-cell *matHeaderCellDef>Goods Id</mat-header-cell>
                        <mat-cell *matCellDef="let goodsProperty">{{goodsProperty.goodsId}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="propertyId">
                        <mat-header-cell *matHeaderCellDef>Property Id</mat-header-cell>
                        <mat-cell *matCellDef="let goodsProperty">{{ goodsProperty.propertyId}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="propertyName">
                        <mat-header-cell *matHeaderCellDef> Property Name</mat-header-cell>
                        <mat-cell *matCellDef="let goodsProperty"> {{goodsProperty.propertyName}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="propertyValue">
                        <mat-header-cell *matHeaderCellDef> Property Value</mat-header-cell>
                        <mat-cell *matCellDef="let goodsProperty"> {{goodsProperty.propertyValue}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                        <mat-cell *matCellDef="let goodsProperty">
                          <button mat-flat-button [matMenuTriggerFor]="actionsMenu" color="primary" class="action-btn">
                            Actions
                            <mat-icon>arrow_drop_down</mat-icon>
                          </button>
                          <mat-menu #actionsMenu="matMenu">
                            <button mat-menu-item (click)="openEditGoodsProperty(goodsProperty)">
                              <mat-icon>edit</mat-icon>
                              <span>Edit</span>
                            </button>
                            <button mat-menu-item (click)="deleteGoodsProperty(goodsProperty.id)">
                              <mat-icon>delete</mat-icon>
                              <span>Delete</span>
                            </button>
                          </mat-menu>
                        </mat-cell>
                      </ng-container>

                    <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
                </mat-table>
            </div>
        </div>
    </div>
</div>